.wrapper {
    background-color: whitesmoke;
}
.videoContent {
    padding: 10px;
}

.video {
    max-width: 100%;
}

.title {
    font-size: 36px;
    margin-bottom: 5px;
}

.description {
    font-size: 18px;
}

.aside {
    padding: 10px;
    max-width: 100%;
}