.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*Style wrapperReg__reg*/

.reg {
    margin: 0 10px;
    color: #FFFFFF;
    transition: 0.2s ease;
}

.reg:hover {
    color: #a8a8a8;
}

.forms {
    max-width: 500px;
    position: absolute;
    top: 0;
}

