.wrapper {
    flex: 1 0 auto;
}

.wrapperHeaderImg {
    object-fit: cover;
    object-position: center;
}

.headerImg {
    width: 100%;
    min-width: 800px;
    max-height: 200px;
    min-width: 150px;
}

.myVideo {
    padding: 50px;
    height: 500px;
}

.colection {
    display: block;
     min-height: 100%;
    overflow: scroll;
    background-color: darkgrey;
}