* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

img {
    max-width: 100%;
    object-fit: contain;
    object-position: center;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.active {
    display: none;
}
